name: A simple test workflow
on: [push]
jobs:
  SayHello:
      steps:
        run: "echo 'Runnig tests on: ${{runner.os}}'"
        run: "echo 'Repo: ${{github.repository}}'"
        run: "echo 'Branch: ${{github.ref}}'"

  code-ckecks:
    run-on: ubuntu-latest

    steps:
      name: Checkout the code
      uses: actions/checkout@v6

      name: Install pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.62.2

      name: look for syntax errors
      run: pixi run ruff check

  unit-tests:
    runs-on: ubuntu-latest
    needs: code-ckecks

    steps:
      name: Checkout the code
      uses: actions/checkout@v6

      name: Install pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.62.2

      run: pixi run pytest
